[hololens]
container = "ghcr.io/hologit/lenses/helm3:latest"

[hololens.input]
root = "metabase"
files = "**"

[hololens.output]
merge = "replace"

[hololens.helm]
namespace = "metabase"
release_name = "metabase"
namespace_fill = true

chart_path = "helm-chart"
value_files = [
    "prod-metabase.yml"
]
