images:
  # pin metabase version for deliberate upgrades
  metabase:
    src: metabase/metabase:v0.57.4.1

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: metabase.k8s.tdad.jarv.us
      paths:
        - /
  tls:
    - secretName: metabase-tls
      hosts:
        - metabase.k8s.tdad.jarv.us

backups:
  enabled: true
  healthchecksUrl: https://healthchecks.jarv.us/ping/b8631a5d-6f42-42c2-b07d-f1554a8e5e22
