apiVersion: v1
kind: ServiceAccount
metadata:
  annotations: {}
  labels:
    app.kubernetes.io/instance: dagster
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: dagster-user-deployments
    app.kubernetes.io/version: dev
    helm.sh/chart: dagster-user-deployments-0.0.1-dev
  name: dagster-dagster-user-deployments-user-deployments
  namespace: dagster
