apiVersion: v1
data:
  dagster.yaml: |
    scheduler:      
      module: dagster.core.scheduler
      class: DagsterDaemonScheduler

    schedule_storage:
      module: dagster_postgres.schedule_storage
      class: PostgresScheduleStorage
      config:        
        postgres_db:
          username: test
          password:
            env: DAGSTER_PG_PASSWORD
          hostname: dagster-postgresql
          db_name: test
          port: 5432
          params:
            {}

    run_launcher:      
      module: dagster_k8s
      class: K8sRunLauncher
      config:
        load_incluster_config: true
        job_namespace: dagster-runs
        image_pull_policy: Always
        service_account_name: dagster
        dagster_home: "/opt/dagster/dagster_home"
        instance_config_map: "dagster-instance"
        postgres_password_secret: "dagster-postgresql-secret"
        env_vars:
          - GOOGLE_APPLICATION_CREDENTIALS=/etc/gcs-secret/google_application_credentials.json
          - RAW_BUCKET=gs://jarvus-transit-data-demo-raw
          - PARSED_BUCKET=gs://jarvus-transit-data-demo-parsed
        volume_mounts:
          - mountPath: /etc/gcs-secret
            name: gcs-secret
            readOnly: true
        volumes:
          - name: gcs-secret
            secret:
              secretName: dagster-secret
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 300m
            memory: 1Gi
        run_k8s_config:
          pod_spec_config:
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                  - matchExpressions:
                    - key: dagster-purpose
                      operator: In
                      values:
                      - runs
            tolerations:
            - effect: NoSchedule
              key: dagster-purpose
              operator: Equal
              value: runs

    run_storage:
      module: dagster_postgres.run_storage
      class: PostgresRunStorage
      config:        
        postgres_db:
          username: test
          password:
            env: DAGSTER_PG_PASSWORD
          hostname: dagster-postgresql
          db_name: test
          port: 5432
          params:
            {}

    event_log_storage:
      module: dagster_postgres.event_log
      class: PostgresEventLogStorage
      config:        
        postgres_db:
          username: test
          password:
            env: DAGSTER_PG_PASSWORD
          hostname: dagster-postgresql
          db_name: test
          port: 5432
          params:
            {}
    run_coordinator:      
      module: dagster.core.run_coordinator
      class: QueuedRunCoordinator
      config:
        
        max_concurrent_runs: 16
        dequeue_use_threads: true
        dequeue_num_workers: 4
    compute_logs:      
      module: dagster.core.storage.noop_compute_log_manager
      class: NoOpComputeLogManager
    run_monitoring:
      enabled: true
      start_timeout_seconds:  300
      max_resume_run_attempts: 0
      poll_interval_seconds: 120
      free_slots_after_run_end_seconds: 0
    run_retries:
      enabled: true
    sensors:
      use_threads: true
      num_workers: 4
    schedules:
      use_threads: true
      num_workers: 4

    telemetry:
      enabled: true
kind: ConfigMap
metadata:
  labels:
    app: dagster
    chart: dagster-0.0.1-dev
    heritage: Helm
    release: dagster
  name: dagster-instance
  namespace: dagster
