name: build-fetcher-image

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  check_and_build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - name: run mypy and pytest
      id: test
      run: |
        uv sync --group fetcher-dev
        uv run mypy fetcher
        uv run pytest fetcher
        echo "VERSION=$(grep 'version' pyproject.toml | head -1 | cut -d'"' -f2)" >> "$GITHUB_OUTPUT"
      env:
        RAW_BUCKET: gs://this-does-not-exist-raw
        PARSED_BUCKET: gs://this-does-not-exist-parsed
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        context: .
        file: Containerfile
        target: fetcher
        push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        tags: 'ghcr.io/jarvusinnovations/transit-data-analytics-demo/fetcher:${{ steps.test.outputs.VERSION }}'
