name: build-warehouse-image

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  check_and_build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        context: .
        file: Containerfile
        target: warehouse
        push: true
        tags: ghcr.io/jarvusinnovations/transit-data-analytics-demo/warehouse:latest
