name: lint

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - name: Set up dbt
      run: |
        echo "$BOT_GCP_SERVICE_ACCOUNT" > /tmp/keyfile
        uv sync --group dbt-dev
        uv run dbt deps --project-dir warehouse
      env:
        BOT_GCP_SERVICE_ACCOUNT: ${{ secrets.BOT_GCP_SERVICE_ACCOUNT }}
    - uses: pre-commit/action@v3.0.0
      env:
        SKIP: sqlfluff-lint
        BIGQUERY_SERVICE_ACCOUNT: /tmp/keyfile
        DBT_PROFILES_DIR: warehouse
        DBT_TARGET: prod_service_account
